!!! 5
%html(lang="en")
  %head= render :partial => 'shared/header'
  %body
    = render :partial => 'shared/navbar'
    .container-fluid
      - if user_signed_in? && (!flash[:notice].nil? || !flash[:alert].nil?)
        .row-fluid
          - unless flash[:notice].nil?
            .alert.alert-notice= flash[:notice]

          - unless flash[:alert].nil?
            .alert.alert-error= flash[:alert]
      .row-fluid
        - if user_signed_in?
          .span3{'data-spy' => 'affix', 'data-offset-top' => 200}
            = render :partial => 'shared/sidebar'
          #content.span9
            = yield
        - else
          #content.span12
            = yield

      %footer
        = footer_message

    = javascript_include_tag "application"
